################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs
/PusulaCase/bin/Debug/net8.0
/PusulaCase/obj
